@model FrontEnd.Models.ServicioViewModel

@{
    ViewBag.Title = "Delete";

}


@section seccion
{
    <h2>Eliminar servicio</h2>

    
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            </div>
        }@Html.ActionLink("Regresar", "Index")
    </div>
}
