@model IEnumerable<FrontEnd.Models.ServicioViewModel>

@{
    ViewBag.Title = "Index";

}


@section seccion
{

    <h2>Servicios</h2>

    <p>

        @Html.ActionLink("Agregar nuevo servicio", "Create", new {  }, new
                  { @class = "btn btn-success", title = "Agregar" })

        
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>


                    @Html.ActionLink("Editar", "Edit", new { id = item.Servicio_ID }, new
                  { @class = "btn btn-warning", title = "Editar" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Servicio_ID }, new
                    { @class = "btn btn-danger", title = "Eliminar" })

                </td>
            </tr>
        }

    </table>
}