@model FrontEnd.Models.ReservaViewModel

@{
    ViewBag.Title = "Delete";

}


@section seccion
{
    <h2>Eliminar Reserva</h2>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Servicio_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Servicio_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Consentimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Consentimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Horario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Horario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cantidad_Personas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cantidad_Personas)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo_Pago)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo_Pago)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Reserva_ID)

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />

            </div>
        }
    </div>
    @Html.ActionLink("Regresar", "Index")
}