@model IEnumerable<FrontEnd.Models.HistorialViewModel>

@{
    ViewBag.Title = "Index";

}

@section seccion
{

    <h2>Historial de movimientos</h2>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colaborador_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>

                    @Html.ActionLink("Editar", "Edit", new { id = item.Historial_ID }, new
                    { @class = "btn btn-warning", title = "Editar" })

                    @Html.ActionLink("Detalles", "Details", new { id = item.Historial_ID }, new
                    { @class = "btn btn-info", title = "Detalles" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Historial_ID }, new
                    { @class = "btn btn-danger", title = "Eliminar" })
                </td>
            </tr>
        }

    </table>
}
