@model IEnumerable<FrontEnd.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}


@section seccion
{

    <h2>Usuarios</h2>

    @Html.ActionLink("Agregar nuevo usuario", "Create", new { }, new
              { @class = "btn btn-success", title = "Agregar" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol_ID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol_ID)
                </td>
                <td>

                    @Html.ActionLink("Editar", "Edit", new { id = item.Usuario_ID }, new
                         { @class = "btn btn-warning", title = "Editar" })

                    @Html.ActionLink("Detalles", "Details", new { id = item.Usuario_ID }, new
                    { @class = "btn btn-info", title = "Detalles" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Usuario_ID }, new
                    { @class = "btn btn-danger", title = "Eliminar" })



                </td>
            </tr>
        }

    </table>
}