@{
        ViewBag.Title = "Home Page";
    }

@model FrontEnd.Models.UsuarioViewModel

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-md-3 form-horizontal">
            <br />
            @Html.LabelFor(x => x.Correo, new { @class = "" })
            @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(x => x.Clave)
            <div class="input-group">
                @Html.PasswordFor(x => x.Clave, new { @class = "form-control" })
                <span class="input-group-btn">
                    <button id="verPassword" class="btn btn-default" type="button">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </button>
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.Clave, null, new { @class = "text-danger" })
            <br />

            <button class="btn btn-primary" type="submit">
                Iniciar sesión
            </button>

            @*<div class="checkbox-inline pull-right">
                    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "" })
                    @Html.LabelFor(x => x.RememberMe, new { @class = "" })
                </div>*@
            <br />
        </div>
    }
</div>

@section scripts {

    <script>
        $('#verPassword').on('mousedown', function () {
            $('#Clave').attr("type", "text");
        });

        $('#verPassword').on('mouseup mouseleave', function () {
            $('#Clave').attr("type", "clave");
        });
    </script>
}









@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@