@model IEnumerable<FrontEnd.Models.EquipoViewModel>

@{
    ViewBag.Title = "Index";
}



@section seccion
{

    <h2>Equipo</h2>
    @Html.ActionLink("Agregar nuevo equipo", "Create", new { }, new
                { @class = "btn btn-success", title = "Agregar" })


    <table class="table">


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>



                    @Html.ActionLink("Editar", "Edit", new { id = item.Equipo_ID }, new
                    { @class = "btn btn-warning", title = "Editar" })

                    @Html.ActionLink("Detalles", "Details", new { id = item.Equipo_ID }, new
                    { @class = "btn btn-info", title = "Detalles" })

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Equipo_ID }, new
                    { @class = "btn btn-danger", title = "Eliminar" })




                </td>
            </tr>
        }

    </table>
}
